body {
    margin: 0;
    background-image: url(./images/cosmic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 60vh;
}
#clock {
    text-align: center;
    font-size: 60px;
    font-family:'Cedarville';
    color: rgb(243, 243, 243);
}